*.jld
*.gif
*.aux
*.log
**/log.lammps
*.bbl
*.toc
*.fls
*.gz
*.out
*.fdb_latexmk
*.blg
*.mp4
*.3b
*.3b
*dump.
*.table
*.dumpf
*.fixf
#**/clusterOvito/
#**/assembly/
#**/assembly_variations/
#**/assemblyTests/
#**/remains/
#**/try1/
